.selectedCurrency {
    background-color: gainsboro;
    color: black;
    font-weight: 600;
    padding: 7px 5px;
    min-width: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}


.closeButton {
    border: 2px solid rgb(248, 248, 248);
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    font-size: 12px;
    background-color: black;
    color: white;
    padding: 3px 5px;
    position: absolute;
    right: -8px;
    top: -8px;
    font-weight: 600;


    &:hover {
        background-color: white;
        color: black;
        border: 2px solid black;
        
    }
}