.button {
    display: flex;
    padding: 7px 5px;
    min-width: 135px;
    cursor: pointer;
    color: rgb(58, 59, 173);
    border: 1px solid #a0a0a0;
    background-color: #eeeeee;
    color: #124370;
    font-size: 20px;

    &:hover {
        background-color: #bebebe;
      }
}

.close {
    border: 1px solid black;
    border-radius: 4px;
    margin-right: 3px;
    color: transparent;
    padding: 0px 2px;
    font-size: 15px;
}

.checkBox {
    color: red;
    font-weight: 600;
}

.currencySelected {
    background-color: white;
}