.currency__box--wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 450px;
    gap: 15px;
}


.currency__box {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 25px 16px 16px;
    gap: 32px;
    border: 1px solid #a0a0a0;
    border-radius: 5px;
    box-shadow: #323232 1px 1px 5px -2px;
}

.App {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}